@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.searchResult .List{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem ;
    max-height: 300px;
    overflow-y: auto;
    position: fixed;
    z-index: 1;
    padding-left: 5px;
    
}
.searchContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    justify-content: center;
}
.searchResult .List ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.searchResult .List ul li:hover{
    background-color: #555;
}
.searchResult .List ul li:hover ul{
    display: block;
}
.searchContainer .searchResult .List{
    min-width: 300px;
}
/* div {background-color: green;}
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
} */
/* ul li {display: inline-table;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 2000px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;} */

.NavBar{
  margin-left: 45px;
  margin-right: 45px;
  
  
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.Nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
}
.titles{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.titles h1 {
  font-size: 20px; /* Adjust the font size as needed */
}